/* src\css\app.css */

header {
  margin: 1rem 0;
  margin-bottom: auto;
}

details {
  margin: 0.2rem 0;
}

details:not([open]) > ul {
  display: none;
}

details > summary {
  cursor: pointer;
  font-weight: bold;
  outline: none;
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}

.chevron-icon {
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 150ms ease-in;
}

details[open] > summary .chevron-icon {
  transform: rotate(90deg);
}

footer {
  text-align: center;
  margin: 1rem 0;
  margin-top: auto;
  font-size: 1.5rem;
}

footer a {
  text-decoration: dotted underline;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

/* Simple CSS spinner example: */
.loading::after {
  content: "";
  width: 24px;
  height: 24px;
  margin-left: 10px;
  border: 2px solid #333;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
